*{
	margin:0;
	padding:0;
	
}
.total{
	height:718px;
	width:600px;

	margin:auto;
}
.headers{
	text-align:center;
	background: #000000;
	color:#f8f110;
	font-size:40px;
	height:150px;
	line-height:150px;
	width:600px;
	margin:auto;
}
.total_menu{
	font-size:15px
}	
}
.site_menu{
	width:476px;
	line-height:78px;
}
ul{
	margin-bottom: 25px;
}
.site_menu ul li{
	float:left;
	padding: 0px 07px;
	list-style:none;
	margin:auto;
}
.site_menu a:hover{
	background:white;
	color:black;
	
}
.site_menu ul li a{
	color:white;
	text-decoration:none; 
	background:black;
	margin: 52px;
    padding: 14px;
	background-position:20px;
	margin-top:10px;
}
.bar{
	width:600px;
	height:68px;
	margin:auto;
	background: #9e9b9b;
	overflow:hidden;
}
.right_side{
	width: 600px;
	text-align:center;
	height:650px;
	overflow: hidden;
	background:#cdf8f8;
	float:right;
}
.username {
    margin: 10px;
    padding: 9px;
    color: #4143dc;
}

input[type="text"] {
    margin: 0px;
    padding: 6px;
    width: 248px;
    background-color: #cdcdcd;
}

.password {
    margin: 10px;
    padding: 9px;
    color: #4143dc;
}
.login button{
    margin: 25px;
    padding: 7px;
    width: 115px;
	background-color:#a4a4ff;
}
.all_log{
	margin-top:60px;
}
.login{
    text-align: center;
	list-style:none;
}

.footer_section {
    background:black;
    text-align: center;
	height:133px;
	width:600px;
	overflow:hidden;
	margin:auto;
}
.footer_section p{
	height:50;
	margin-top:12px;
	color:#f4f4f4;

}
h6 {
    color: white;
}
.social_icon i{
	padding:4px;
	background:#e3ff00;
	height:4%;
	width:4%;
	border:50px;
	color:black;
	font-size:22px;
	margin:5px;
}
.social_icon i:hover {
	background: black;
	color: yellow;
	transition:.9s;
}